<!DOCTYPE html>
<html>

<head>
    <title>mercadito</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div id="header">
        <div id="logo"></div> <!--Aqui no se pone nada porque la imagen se agrega en el css-->
        <div id="perfil_salir"> <!-- Dentro de este div va lo que esta a la derecha del header -->
            <div class="ops_header">
                <div id="foto_perfil"></div> <!--Aca no hay nada dentro porque con css se transforma el div en un circulo con borde-->
                <div id="text_header">Nombre Usuario</div> 
            </div>
            <div class="ops_header">
                <a href="login.html"> <!--Todo lo que este dentro del esta cosa es un link-->
                    <div id="icon_salir">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                            <path fill-rule="evenodd"d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                        </svg><!-- Esto se copia del bootstrap icons -->
                    </div>
                    <div id="text_header">Salir</div>
                    </a>
                </div>
            </div>
        </div>
    <div id="container"> <!-- Dentro de esto esta todo lo que esta debajo del header -->
        <aside id="menu"> <!-- las secciones, lo que esta a la izquierda -->
            <div id="secciones">Secciones</div>
            <a href='index.html'>
                <div class="seccion">
                    <div></div> <!-- Esto es para hacer el circulo azul con el css -->
                    <span>Comprar</span>   
                </div>
            </a>
            <a href='misproductos.html'> <!-- Y se repite lo mismo pa hacer mas secciones -->
                <div class="seccion">
                    <div></div> 
                    <span>Mis productos</span>   
                </div>
            </a>
            <a href='#'> <!-- aca se pone el # porque todavia no hacemos los chats -->
                <div class="seccion">
                    <div></div> 
                    <span>Chats</span>   
                </div>
            </a>
        </aside>
        <article id="articulos"> <!-- Aca van a estar los productos -->
            <div id="articulo"> <!-- Lo que esta aca es un solo articulo -->
                <div class="vendedor">
                    <div class="foto_vendedor"></div>
                    <div class="nombre_vendedor">Vendedor</div>
                </div>
                <div class="img_art"></div>
                <div class="nombre_art">NOMBRE PRODUCTO $$$</div>
            </div>
            <div id="articulo"> <!-- Y se va repitiendo para hacer mas -->
                <div class="vendedor">
                    <div class="foto_vendedor"></div>
                    <div class="nombre_vendedor">Vendedor</div>
                </div>
                <div class="img_art"></div>
                <div class="nombre_art">NOMBRE PRODUCTO $$$</div>
            </div>
            <div id="articulo">
                <div class="vendedor">
                    <div class="foto_vendedor"></div>
                    <div class="nombre_vendedor">Vendedor</div>
                </div>
                <div class="img_art"></div>
                <div class="nombre_art">NOMBRE PRODUCTO $$$</div>
            </div>
            <div id="articulo">
                <div class="vendedor">
                    <div class="foto_vendedor"></div>
                    <div class="nombre_vendedor">Vendedor</div>
                </div>
                <div class="img_art"></div>
                <div class="nombre_art">NOMBRE PRODUCTO $$$</div>
            </div>
            <div id="articulo">
                <div class="vendedor">
                    <div class="foto_vendedor"></div>
                    <div class="nombre_vendedor">Vendedor</div>
                </div>
                <div class="img_art"></div>
                <div class="nombre_art">NOMBRE PRODUCTO $$$</div>
            </div>
            <div id="articulo">
                <div class="vendedor">
                    <div class="foto_vendedor"></div>
                    <div class="nombre_vendedor">Vendedor</div>
                </div>
                <div class="img_art"></div>
                <div class="nombre_art">NOMBRE PRODUCTO $$$</div>
            </div>
        </article>
    </div>
</body>

</html>