{% load static %} <!--cargamos el static -->
<div id="header">
    <a href="{% url 'compras' %}">
        <div id="logo"></div> 
    </a>
    {% if request.resolver_match.url_name == 'compras' %}
        <div id="barra-busqueda">
            <form method="get" action="{% url 'compras' %}" class="buscador-compras">
                <input type="search" name="q" placeholder="Buscar productos..." value="{{ request.GET.q }}"> <!--barra de busqueda para buscar usuarios-->
            </form>
        </div>
    {% endif %}
    <div id="perfil_salir">
        <a href="{% url 'ver_perfil' %}">
            <div class="ops_header">
                <div id="foto_perfil">
                    {% if request.user.perfil.imagen %} <!-- si existe imagen dew perfil, la muetra, sino, una default-->
                        <img src="{{ request.user.perfil.imagen.url }}" alt="Foto de perfil" class="img_header_perfil">
                    {% else %}
                        <img src="{% static 'images/default-user.jpg' %}" alt="Default" class="img_header_perfil">
                    {% endif %}
                </div>
                <div id="text_header">{{ request.user.username }}</div> <!--el username del user al lado de la foto-->
            </div>
        </a>
        <div class="ops_header">
            <a href="{% url 'logout' %}"> <!--para cerrar sesión-->
                <div id="icon_salir">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                        <path fill-rule="evenodd"
                              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                </div>
                <div id="text_header">Salir</div>
            </a>
        </div>
    </div>
</div>

<!--se creó este archivo porque se repite en muchas secciones el header, entonvces es más facil hacerlo una vez y solo cargarlo (al igual que la base)-->