{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil de {{ usuario.username }}{% endblock %}

{% block content %}
<div id="perfil">
    <div id="inf1">
        <div id="foto_perfil_grande"></div>
            {% if usuario.perfil.imagen %} <!-- si existe la imagen -->
                <img src="{{ usuario.perfil.imagen.url }}" alt="Foto de perfil" class="img_perfil_ver_user"> <!-- muestra la imagen -->
            {% else %}
               <img src="{% static 'images/default-user.jpg' %}" alt="Default" class="img_perfil_ver_user"> <!-- imagen por default -->
            {% endif %}
        <div id="nombre_rol">
            {{ usuario.username }}<br>Estudiante <!-- muestra el nombre -->
        </div>
    </div>

    <div id="inf2">
        <div class="contactos">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="..."/>
            </svg>
            {{ usuario.perfil.email }} <!-- muestra el correo -->
        </div>

        <div class="contactos">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="..."/>
            </svg>
            {{ usuario.perfil.telefono }} <!-- muestra el telefono -->
        </div>

        <div class="contactos">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-pin-map" viewBox="0 0 16 16">
                <path d="..."/>
            </svg>
            {{ usuario.perfil.campus }} <!-- muestra el campus -->
        </div>
    </div>
</div>
{% endblock %}
