{% extends "base.html" %}
{% load static %}

{% block title %}Reportar - Mercadito UOH{% endblock %}

{% block content %}
<div class="contenido">
    <div class="formulario">
        <h2>Reportar</h2>
        <form class="crear-producto" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p><strong>Reportando:</strong> {{ nombre }}</p>

            <input type="hidden" name="producto" value="{{ producto.id }}">

            <div class="form-group">
                {{ form.descripcion.label_tag }}
                {{ form.descripcion }}
                {{ form.descripcion.errors }}
            </div>

            <div class="form-group">
                {{ form.tipo.label_tag }}
                {{ form.tipo }}
                {{ form.tipo.errors }}
            </div>

            <button type="submit" class="boton-confirmar-reporte">Confirmar</button>
        </form>
    </div>
</div>
{% endblock %}
