{% extends "base.html" %}
{% load static %}

{% block title %}Mercadito UOH - Ver Producto{% endblock %}

{% block content %}
<div class="contenido">
    <div class="formulario" style="max-width: 300px; margin: auto;">

        <div class="imagen" style="position: relative; width: 100%; max-width: 300px; margin-bottom: 15px;">
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" alt="Imagen del producto"
                     style="width: 100%; border: 1px solid #ccc; border-radius: 8px; display: block;">
            {% else %}
                <img src="{% static 'images/imagen-default.jpg' %}" alt="Imagen por defecto"
                     style="width: 100%; border: 1px solid #ccc; border-radius: 8px; display: block;">
            {% endif %}
        </div>

        <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
        <p><strong>Precio:</strong> ${{ producto.precio }}</p>
        <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
        <p><strong>Campus:</strong> {{ producto.campus }}</p>
        <p><strong>Contacto:</strong> {{ producto.contacto }}</p>
        <p><strong>Categorías:</strong> {{ producto.categoria }}</p>

        <a href="{% url 'iniciar_chat' producto.id %}"> <!--cambiar url por iniciar_chat y agregar producto.id -->
            <button type="button" id="btn-iniciar-chat">INICIAR CHAT</button>
        </a>
        <div id="container-botton-reporte">
            <a href="{% url 'reportar' 'producto' producto.id %}">
                <button id="btn-reportar">Reportar</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}