<!DOCTYPE html>

<head>
    <title>Mercadito UOH</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="icon" href="{% static 'images/icon.ico' %}" type="image/x-icon">
</head>

<body>
    <div id="head"></div>
    <script src="main.js"></script>

    <div id="container"> <!-- Dentro de esto esta todo lo que esta debajo del header -->
        <aside id="menu"> <!-- las secciones, lo que esta a la izquierda -->
            <div id="secciones">Secciones</div>
            <a href='index.html'>
                <div class="seccion">
                    <div></div> <!-- Esto es para hacer el circulo azul con el css -->
                    <span>Comprar</span>   
                </div>
            </a>
            <a href='misproductos.html'> <!-- Y se repite lo mismo pa hacer mas secciones -->
                <div class="seccion">
                    <div></div> 
                    <span>Mis productos</span>   
                </div>
            </a>
            <a href='chats.html'> <!-- aca se pone el # porque todavia no hacemos los chats -->
                <div class="seccion">
                    <div></div> 
                    <span>Chats</span>   
                </div>
            </a>
        </aside>
        <div id="cont_verprod">
            <div id="ver_producto">
                
                    <div id="img_producto"></div>
                    <p>Nombre Producto</p>
                    <p>Precio: $$$$</p>
                    <p>Descripcion: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non et illo repellat cum modi molestiae error tempora, dolor pariatur veritatis incidunt veniam. Sequi magnam hic eligendi eveniet, laborum veniam odio!</p>
                    <p>Campus: Rancagua</p>
                    <p>Contacto: +56 9 9999 9999</p>
                    <p>Categorias: C1, C2</p>
                    <a href="#">
                    <button type="submit" id="btn-iniciar-chat">INICIAR CHAT</button>
                    </a>
                
            </div>
        </div>
    </div>
</body>


</html>