{% extends "base.html" %}
{% load static %}

{% block title %}Crear Producto - Mercadito UOH{% endblock %}

{% block content %}
<div class="contenido">
    <div class="formulario">
        <form class="crear-producto" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="imagen">
                <label class="drop-container">
                    <input type="file" id="select_images" name="imagen" multiple accept="image/*" />
                    <span class="drop-text">Añadir Imagen/es</span>
                </label>

                <div id="preview_container" style="position: relative; width: 100%; max-width: 300px; margin-top: 15px;">
                    <button type="button" id="prev_btn" style="position: absolute; left: 0; top: 40%; display: none;">←</button>
                    <img id="image_preview" src="" style="width: 100%; display: none; border: 1px solid #ccc; border-radius: 8px;">
                    <button type="button" id="next_btn" style="position: absolute; right: 0; top: 40%; display: none;">→</button>
                </div>
            </div>

            <label>Nombre Producto
                <input type="text" name="nombre" placeholder="Ingrese el nombre del producto" required/>
            </label>

            <label>Precio
                <input type="number" name="precio" placeholder="Ingrese el precio del producto" required/>
            </label>

            <label>Descripción
                <textarea name="descripcion" placeholder="Ingrese la descripción del producto" required></textarea>
            </label>

            <label>Campus
                <select name="campus" required>
                    <option value="" disabled selected>Seleccione Campus</option>
                    <option value="rancagua">Campus Rancagua</option>
                    <option value="colchagua">Campus Colchagua</option>
                </select>
            </label>

            <label>Contacto
                <input type="text" name="contacto" placeholder="Correo o teléfono" required />
            </label>

            <label>Categoría
                <select name="categoria" required>
                    <option value="" disabled selected>Seleccione Categoría</option>
                    <option value="libros">Libros</option>
                    <option value="electrónica">Electrónica</option>
                    <option value="ropa">Ropa</option>
                    <option value="otros">Otros</option>
                </select>
            </label>

            <button type="submit" class="boton-confirmar">Confirmar</button>
        </form>
        <script src="{% static 'js/preview.js' %}"></script>
    </div>
</div>
{% endblock %}
