<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mercadito UOH</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id="header">
    <div id="logo"></div>
    <div id="perfil_salir">
        <div class="ops_header">
            <div id="foto_perfil"></div>
            <div id="text_header">Nombre Usuario</div> 
        </div>
        <div class="ops_header">
            <a href="login.html">
                <div id="icon_salir">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd"
                              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                </div>
                <div id="text_header">Salir</div>
            </a>
        </div>
    </div>
</div>
<div id="contenido">
    <div id="barra-lateral">
        <input type="search" placeholder="Buscar o crear nuevo mensaje..."/>
        <div class="chat">
            <div class="chat-info">
                <div class="foto-chat"></div>
                <div class="texto-chat">
                    <div class="nombre-chat">Usuario</div>
                    <div class="mensaje-chat">Mensaje...</div>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="chat-info">
                <div class="foto-chat"></div>
                <div class="texto-chat">
                    <div class="nombre-chat">Usuario</div>
                    <div class="mensaje-chat">Mensaje...</div>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="chat-info">
                <div class="foto-chat"></div>
                <div class="texto-chat">
                    <div class="nombre-chat">Usuario</div>
                    <div class="mensaje-chat">Mensaje...</div>
                </div>
            </div>
        </div>
    </div>
    <div id="principal">
        <div id="mini-header">
            <div id="info-mini-header">
                <div class="foto-mini"></div>
                <div class="nombre-mini">Usuario</div>
            </div>
            <button id="btn-reportar">Reportar</button>
        </div>
        <div id="mensajes">
            <div class="mensaje recibido">Mensaje recibido
                <span class="hora">12:03</span>
            </div>
            <div class="mensaje enviado">Mensaje enviado
                <span class="hora">12:04</span>
            </div>
            <div class="mensaje recibido">Mensaje recibido
                <span class="hora">12:05</span>
            </div>
        </div>
        <div id="caja-mensaje">
            <input type="text" placeholder="Escribe un mensaje..."/>
            <button>Enviar</button>
        </div>
    </div>

</div>


</body>
</html>