{% extends "base.html" %}
{% load static %}

{% block title %}Mis Productos - Mercadito UOH{% endblock %}

{% block content %}
<article id="articulos">
    {% for producto in productos %}
    <div id="articulo">
        <div class="vendedor">
            <div class="foto_vendedor"></div>
            <div class="nombre_vendedor">Tú</div>
        </div>

        {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" class="img_art_real" alt="{{ producto.name }}">
        {% else %}
            <div class="img_art"></div>  {# Imagen por defecto si no hay #}
        {% endif %}

        <div class="nombre_art">{{ producto.name }} ${{ producto.precio }}</div>
    </div>
    {% endfor %}

    <div id="nuevo-producto">
        <a href="{% url 'crear_producto' %}">
            <div class="crear-icono">+</div>
            <div class="nombre-articulo">Crear producto</div>
        </a>
    </div>
</article>
{% endblock %}
